<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv='content-type' content='text/html;charset=UTF-8'>
        <meta name='viewport' content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1'>

        <title>{{project.name}} styleguide</title>  

        <link rel='stylesheet' href='./assets/css/muilessium-0.2.0.min.css'>

        <link rel='stylesheet' href='../example/button.css'>
        <link rel='stylesheet' href='../example/badge.css'>
    </head>
    <body>
        <div class='mui-scroll-fix'></div>

        <header class='mui-page-header -black-bg'>
            <div class='mui-content-container'>
                <div class='mui-header-logo'>
                    <a class='link -white -f-grey-3' href='/'>
                        <h1 class='_bigger-1 _line-4r'>
                            <span>{{project.name}}</span>
                            <span class='_smaller-2'>v.{{project.version}}</span>
                        </h1>
                    </a>
                </div>
            </div>
        </header>

        <div class='mui-page-container'>
            <div class='mui-content-container _separate-1'>
                <div class='mui-row _separate-2'>
                    <div class='mui-column -s12'>
                        <h2 class='_bigger-1'>Description</h2>
                        <p class='mui-p _separate-1'>{{project.description}}</p>
                    </div>
                </div>

                <div class='mui-row _separate-2'>
                    <div class='mui-column -s12'>
                        <h2 class='_bigger-1'>Table of contents</h2>
                        <ul class='mui-list _separate-1 _smaller-1'>
                            {{#files}}
                                {{#blocks}}
                                    <li class='item'>
                                        <a class='-f-grey-3' href='#{{name}}'>{{name}}</a>
                                    </li>
                                {{/blocks}}
                            {{/files}}
                        </ul>
                    </div>
                </div>

                
                {{#files}}
                    {{#blocks}}
                        <div class='mui-row _separate-2'>
                            <div class='mui-column -s12'>
                                <h2 id='{{name}}' class='_bigger-1'>{{name}}</h2>
                                <div class='-grey-3 _smaller-2'>{{../file}}</div>
                                {{#if description }}
                                    <p class='mui-p _separate-1'>{{ description }}</p>
                                {{/if}}
                                {{#if markup}}
                                    <div class='_separate-1'>
                                        <div class='example _separate-2'>{{{ markup.example }}}</div>
                                        {{#state}}
                                            <div class='_separate-2'>
                                                <h5 class='_smaller-1'>{{ ../../name }} with {{name}} option</h5>
                                                <div class='js-example _separate-2' data-class='{{name}}'>{{{ ../markup.example }}}</div>
                                            </div>
                                        {{/state}}
                                        <div class='mui-spoiler'>
                                            <div class='title -f-grey-3'>Source code</div>
                                            <div class='content'>
                                                <div class='-grey-1-bg _separate-2 _smaller-1'>
                                                    <div class='mui-row'>
                                                        <div class='mui-column -s12 -with-gutter _separate-1'>
                                                            <pre class='prettyprint lang-html markup'>{{{markup.escaped}}}</pre>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    {{/blocks}}
                {{/files}}

            </div>
        </div>

        <footer class='mui-page-footer -white -black-bg _text-center'>
            <div class='mui-content-container'>
                <span class='_line-3r'>Copyright &copy; Your Company</span>
            </div>
        </footer>

        <script src='./assets/js/muilessium-0.2.0.min.js'></script>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var _ = Muilessium.Utils;

                function initExamples() {
                    _.forEach(document.querySelectorAll('.js-example'), function(example) {
                        var stateClass = _.getAttribute(example, 'data-class'),
                            targetChild = 0;
                        if (example.childNodes[1]) {
                            targetChild = 1;
                        }
                        _.addClass(example.childNodes[targetChild], stateClass);
                    });
                }

                initExamples();
            });
        </script>
    </body>
</html>
